<% @title = 'About Donebox' %>

<h1><%=h @title %> <%= link_to_home %></h1>

<h2>YATLM (Yet Another To-do List Manager)</h2>
<div class="dialog">
  <%= you "What is this ?" %>
  <%= me  "Donebox is a to-do list manager" %>

  <%= you "Do we really need another to-do list manager ?" %>
  <%= me  "Maybe" %>
  
  <%= you "Why should I use it ?" %>
  <%= me  "Because you can not organize yourself" %>
  
  <%= you "That's what you think, I got my personal way of doing things. That worked for me since I stopped believing in Santa." %>
  <%= me  "Yeah right" %>
  
  <%= you "What kind of about page is this ?" %>
  <%= me  "It's for people who can't organize themselves" %>
  
  <%= you "Well you just lost a customer my friend" %>
  <%= me  "I'm not your friend" %>
</div>

<p>Don't be fooled by this unsatisfied customer. A recent study have showed that <strong>99.9%</strong> of our customers were <em>totally</em> to <em>uber satisfied</em>. See this satisfied customer testimonial:</p>

<blockquote>
I'm satisfied.<br/>
<em>- A satisfied customer</em>
</blockquote>
